a:link,a:visited
{
	color:#6C7151;
}

a:hover,a:active,a:focus
{
	color:#A2B186;
}

h1{
	font-size:1.3em;
	font-weight:bold;
	margin:10px 0;
}

h2{
	font-size:1.2em;
	font-weight:bold;
	margin:10px 0;
}
h3 {
	font-size:1.1em;
	font-weight:bold;
	margin:10px 0;
}

h4 {
	border:solid 0;
	color:#000;
	font-size:1em;
}

img, a img, a:hover img {border:0;}