<!--

.ssmHdr {
color: #B89300;
font: 11px;
	}

.ssmHdr:link {
color: #B89300;
text-decoration: none;
	}

.ssmHdr:visited {
color: #B89300;
text-decoration: none;
	}

.ssmHdr:hover {
color: #B89300;
text-decoration: none;
	}

.ssmHdr:active {
color: #B89300;
text-decoration: none;
	}

.ssmItem {
color: #B89300;
font: 11px;
	}

.ssmItem:link {
color: #B89300;
text-decoration: none;
	}

.ssmItem:visited {
color: #B89300;
text-decoration: none;
	}

.ssmItem:hover {
color: #B89300;
text-decoration: none;
	}

.ssmItem:active {
color: #B89300;
text-decoration: none;
	}

.ssmBar {
color: #B89300;
font: 11px;
	}



//-->