BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "Tahoma"; BACKGROUND-COLOR: #ffffff
}
.partheader {
	BORDER-RIGHT: rgb(216,216,216) 1px solid; BORDER-TOP: rgb(216,216,216) 1px solid; MARGIN: 0px; BORDER-LEFT: rgb(216,216,216) 1px solid; BORDER-BOTTOM: rgb(216,216,216) 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: rgb(238,238,238)
}
.bg {
	BACKGROUND-POSITION: 3px 3px; FLOAT: left; BACKGROUND-IMAGE: url(images/news.gif); WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px; BACKGROUND-COLOR: #f6a500
}
.htitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: rgb(59,77,107); PADDING-TOP: 3px
}
.partbody {
	BORDER-RIGHT: rgb(209,209,209) 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: rgb(209,209,209) 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 10px; BORDER-LEFT: rgb(209,209,209) 1px solid; COLOR: rgb(106,106,106); PADDING-TOP: 5px; BORDER-BOTTOM: rgb(209,209,209) 1px solid; BACKGROUND-COLOR: white
}
DIV.table {
	DISPLAY: block; FLOAT: none
}
DIV.tr {
	CLEAR: left; DISPLAY: block; FLOAT: none; WIDTH: 100%
}
DIV.td {
	DISPLAY: block; FLOAT: left; bo1rder: 1px dotted green
}
.sort {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: 100; FONT-SIZE: 7pt; PADDING-BOTTOM: 0px; COLOR: white; MARGIN-RIGHT: 7px; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #5d89e0; TEXT-DECORATION: none
}
.listheader {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 6px 2px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/arrows.gif); PADDING-BOTTOM: 3px; MARGIN: 10px 10px 5px 0px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: rgb(238,238,238)
}
#lpart {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(images/dotted.gif); BACKGROUND-REPEAT: repeat-y
}
#rpart {
	MARGIN-LEFT: 5px
}
#main {
	MARGIN: 0.5%; WIDTH: 98%
}
.line {
	CLEAR: left; DISPLAY: block; FLOAT: none; MARGIN-LEFT: 10px; WIDTH: 96%; BORDER-BOTTOM: rgb(238,238,238) 1px solid
}
.markedline {
	CLEAR: left; DISPLAY: block; FLOAT: none; MARGIN-LEFT: 10px; WIDTH: 96%; BORDER-BOTTOM: rgb(238,238,238) 1px solid; BACKGROUND-COLOR: #ffffee
}
.songname {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 50%; PADDING-TOP: 10px
}
.checkboxtitle {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; MARGIN-TOP: 10px; DISPLAY: block; FONT-SIZE: 7pt; FLOAT: right; BORDER-LEFT: 1px outset; WIDTH: 25px; CURSOR: hand; COLOR: white; MARGIN-RIGHT: 1px; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #5d89e0; TEXT-ALIGN: center
}
.sep {
	BORDER-RIGHT: rgb(238,238,238) 1px solid; FLOAT: right; WIDTH: 0px; HEIGHT: 33px
}
.itemspace {
	FLOAT: right; WIDTH: 31px
}
.emptyspace {
	FLOAT: right; WIDTH: 31px
}
#orderbutton {
	MARGIN-TOP: 12px; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
.year {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 30px
}
.mark {
	FONT-WEIGHT: bold
}
.songs {
	PADDING-LEFT: 25px
}
UNKNOWN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
.albums {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 3px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 5px; MARGIN-RIGHT: 2px; BACKGROUND-COLOR: #dddddd; BORDER-RIGHT-WIDTH: 0px
}
#song {
	FONT-SIZE: 10pt; COLOR: #222222
}
H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: 100; FONT-SIZE: 6pt; COLOR: #555555; TEXT-ALIGN: center
}
.songtext {
	DISPLAY: none
}
.songlink {
	DISPLAY: none
}
#discograph {
	MARGIN-LEFT: 10px
}
.lline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; BORDER-BOTTOM: rgb(238,238,238) 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.markedlline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; BORDER-BOTTOM: rgb(238,238,238) 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffd5
}
.r_backup {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: 1px outset; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 7pt; FLOAT: right; MARGIN-LEFT: 2px; BORDER-LEFT: 1px outset; COLOR: white; MARGIN-RIGHT: 2px; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #5d89e0; TEXT-ALIGN: center
}
.r {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: 1px outset; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 7pt; FLOAT: right; MARGIN-LEFT: 2px; BORDER-LEFT: 1px outset; COLOR: white; MARGIN-RIGHT: 2px; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #f6a500; TEXT-ALIGN: center
}
.r A {
	COLOR: white; TEXT-DECORATION: none
}
.emptyr {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 7pt; FLOAT: right; MARGIN-LEFT: 2px; BORDER-LEFT: white 1px solid; COLOR: #eeeeee; MARGIN-RIGHT: 2px; BORDER-BOTTOM: white 1px solid; TEXT-ALIGN: center
}
.sep2 {
	BORDER-RIGHT: rgb(238,238,238) 1px solid; FLOAT: right; WIDTH: 0px; HEIGHT: 22px
}
A {
	TEXT-DECORATION: none
}
A {
	WORD-SPACING: normal
}
A:hover {
	TEXT-DECORATION: underline
}
A {
	COLOR: #3b4d6b
}
.lst {
	MARGIN-BOTTOM: 5px
}
