body {
	background-image: url();
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #445368;
}
#nav a:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
#nav a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}
#nav a:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
	font-size: 12px;
}
.text {
	font: 12px Arial, Helvetica, sans-serif;
	color: #999999;
}
.title {
	font: bold 12px Arial, Helvetica, sans-serif;
}
.text_black {

	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
}
.form {
	border: 1px solid #999999;
	background: #f0f0f0;
	font: 12px Arial, Helvetica, sans-serif;
}
.zag_album {


	font: bold 16px Arial, Helvetica, sans-serif;
	color: #669900;
}
.text_smail {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.text_news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #E7E7E7;
}

.text_normal {


	font: 14px Arial, Helvetica, sans-serif;
	color: #000000;
}
.start {
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.form {
	background: #CCCCCC;
	border: 1px solid #717892;
}
.text_smail {

	font: 11px Arial, Helvetica, sans-serif;
	color: #999999;
}
.text_normal {
	font: 14px Arial, Helvetica, sans-serif;
}
#link_norm a:link {
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
}
#link_norm a:visited {
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
}
#link_norm a:hover {
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
